# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
+

# Whitelist files/folders with !, these will not be ignored:
!*.yaml
!.gitignore
!*.md
!www/css/fonts.css

# Ignore folders:
.storage
.cloud
node-red
google_assistant
components/shell_command/*
image
esphome
custom_components
www/*
appdaemon/*
blueprints
python_scripts
ssh
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
service-account*.json
splitwise.conf
.activities_list.json

# Ignores font binaries because of copywrite
*.woff

# Ignore log files
*.log
*.log.1
*.log.fault

# Ignore database
*.db
home-assistant_v2.db

# Ignore coding agents
.claude
claude-config