title: Config
path: config
icon: mdi:cog-box
visible: true
background: "var(--background-view-config)"

type: custom:vertical-layout
layout:
  card_margin: 8px 0px
  margin: 0px
  max_width: 350
cards:
  - type: "custom:gap-card"
    height: 20

  - type: "custom:layout-card"
    layout_type: "custom:grid-layout"
    layout:
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
      grid-template-rows: auto
      margin: 0px
    cards:
      - template: title
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 6
        variables:
          - content: Definições

      - type: "custom:gap-card"
        height: 20
        view_layout:
          grid-column: span 6

      - template: subtitle
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 6
        variables:
          - content: Updates

      - template: sensor-number-ext
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: sensors-version
          - entity: sensor.current_version
          - name: "Running version"
          - url-1: https://www.home-assistant.io/blog/categories/release-notes/

      - template: sensor-number-ext
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: sensors-version
          - entity: sensor.latest_version
          - name: "Latest version"
          - url-1: https://www.home-assistant.io/blog/categories/release-notes/

      - type: "custom:gap-card"
        height: 10
        view_layout:
          grid-column: span 6

      - template: sensor-number-local
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: sensors-hacs
          - entity: sensor.system_updates
          - name: "System updates"
          - url-1: /config/dashboard

      - template: sensor-number-local
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: sensors-hacs
          - entity: sensor.dashboard_updates
          - name: "Dashboard updates"
          - url-1: /config/dashboard

      - template: sensor-number-local
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: sensors-hacs
          - entity: sensor.zigbee_updates
          - name: "Zigbee updates"
          - url-1: /config/dashboard

      - type: "custom:gap-card"
        height: 25
        view_layout:
          grid-column: span 6

      - template: subtitle
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 6
        variables:
          - content: Automation Helpers

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_suite_cover_automation
          - name: "Automação dos estores Suite"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_wc_suite_cover_automation
          - name: "Automação dos estores WC"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_entrace_light_automation
          - name: "Automação luz entrada"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_kitchen_automation
          - name: "Automação luz cozinha"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_hall_motion_automation
          - name: "Automação luz corredor"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      # - template: es-config
      #   type: "custom:decluttering-card"
      #   view_layout:
      #     grid-column: span 3
      #   variables:
      #     - template: toggle-auto-brightness
      #     - entity: input_boolean.enable_mosquitto_killer_automation
      #     - name: "Automação luz mosquitos"
      #     - state-1: "on"
      #     - state-2: "off"
      #     - align-self-name: center
      #     - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_bedroom_light_automation
          - name: "Automação luz suite"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_bedroom_left_lights_automation
          - name: "Automação luz office Ma"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-auto-brightness
          - entity: input_boolean.enable_bedroom_right_lights_automation
          - name: "Automação luz office Lu"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: alert
          - entity: input_boolean.enable_ev_battery_alerts
          - name: "Alertas bateria carro"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - type: "custom:gap-card"
        height: 25
        view_layout:
          grid-column: span 6

      - template: subtitle
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 6
        variables:
          - content: Helpers

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-brightness
          - entity: input_boolean.enable_wake_up_lights
          - name: "Rotina de acordar"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-debug-code
          - entity: input_boolean.maintenance_mode
          - name: "Modo de manutenção"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-vacations
          - entity: input_boolean.vacations_mode
          - name: "Modo de férias"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - template: es-config
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: toggle-vacations
          - entity: input_boolean.christmas_season
          - name: "Época de natal"
          - state-1: "on"
          - state-2: "off"
          - align-self-name: center
          - grid-template-rows: 1fr

      - type: "custom:gap-card"
        height: 25
        view_layout:
          grid-column: span 6

      - template: subtitle
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 6
        variables:
          - content: Actions

      - template: btn-small-confirmation
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: btn-script
          - service: script.turn_on
          - entity: script.delete_clock_alarms
          - name: "Apagar alarmes"

      - template: btn-small-confirmation
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: btn-script
          - service: script.turn_on
          - entity: script.turn_off_all_lights
          - name: "Desligar todas as luzes"

      - template: btn-small-confirmation
        type: "custom:decluttering-card"
        view_layout:
          grid-column: span 3
        variables:
          - template: btn-script
          - service: script.toggle
          - entity: switch.valve_1
          - name: "Rodar torneira água"

      - !include ../views_frames/config-devices.yaml
