/** Bold */
@font-face {
  font-family: "Google Sans";
  font-weight: 700;
  src: url("/local/fonts/google-sans.woff2");
}

@font-face {
  font-family: "Google Sans";
  font-weight: 600;
  src: url("/local/fonts/google-sans.woff2");
}

@font-face {
  font-family: "Google Sans";
  font-weight: 400;
  src: url("/local/fonts/google-sans.woff2");
}

@font-face {
  font-family: "Google Sans";
  font-weight: 300;
  src: url("/local/fonts/google-sans.woff2");
}

* {
    font-family: "Google Sans"
}

h1 { font-weight: 700; }
h2 { font-weight: 600; }
h3 { font-weight: 500; }
h4 { font-weight: 500; font-family: "San Francisco";}
h5 { font-weight: 500; }
p { font-weight: 400; }
p.thin { font-weight: 200; }
p.ultralight { font-weight: 100; }
